.row {
  margin-bottom: 20px;
}
.row::after {
  content: "";
  display: block;
  clear: both;
}
.column {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 260px;
  float:left;
  margin-left: 2%;
  background-color: #cccccc;
  background-size: cover;
  background-position: center;
}
.column:first-child {
  margin-left: 0;
}
.column a {
  display: block;
  width: 100%;
  height: 100%;
}
.one {
  width: 15%;;
}
.two {
  width: 32%;
}
.three {
  width: 49%;
}
.four {
  width: 66%;
}
.five {
  width: 83%;
}
.six {
  width: 100%;
  margin-left: 0;
}
.spacer {
  background: #ffffff;
}

@media (max-width: 900px) {
  .one, .two, .three, .four, .five, .six {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 20px;
  }
  .row {
    margin-bottom: 0px;
  }
  .spacer {
    height: 0px;
    margin-bottom: 0px;
  }
}

@media (max-width: 380px) {
  .one, .two, .three, .four, .five, .six {
    margin-bottom: 10px;
  }
  .row {
    margin-bottom: 0px;
  }
  .spacer {
    height: 0px;
    margin-bottom: 0px;
  }
}
