body {
  background-color: #000;
}
.wrapper {
  top: 200px;
}
h2 {
  left: -6px;
}
h3 {
  color: #ffffff;
  font-size: 2.8em;
  margin: 0px;
  color: white;
  padding: 0px;
  position: absolute;
  bottom: -0.25em;
  right: -3px;
  line-height: normal;
}

#moth {
  background-image: url('./moth/finished-moth.jpg');
}

#tinker {
  background-image: url('./tinkering-sign/tinkering-sign-banner.jpg');
}

#kiwi {
  background-image: url('./kiwi-puppet/kiwi-closeup.jpg');
}

#planetarium {
  background-image: url('./mini-planetarium/planetarium-banner.jpg');
}

#threshold {
  background-image: url('./threshold/threshold-banner.jpg');
}

#manifold {
  background: url('./manifold/manifoldBanner.jpg') top center;
}

#sculpture {
  background-image: url('./sculpture/sculpture-banner.jpg');
}

#rockcam {
  background-image: url('./rock-cam/rock-cam-banner.jpg');
}

#m2hospital {
  background-image: url('./m2-hospital/m2-hospital-close-up.jpg');
}

#slush {
  background-image: url('./slush/slush-portrait.jpg');
}
