body {
  background-color: #000;
}
.wrapper {
  top: 200px;
}
h2 {
  left: -6px;
}
h3 {
  color: #ffffff;
  font-size: 2.8em;
  margin: 0px;
  color: white;
  padding: 0px;
  position: absolute;
  bottom: -0.25em;
  right: -3px;
  line-height: normal;
}

#moth {
  background-image: url('./moth/mothBanner.jpg');
}

#tinker {
  background-image: url('./tinkering-sign/tinkeringBanner.jpg');
}

#kiwi {
  background-image: url('./kiwi-puppet/kiwiBanner.jpg');
}

#planetarium {
  background-image: url('./mini-planetarium/planetariumBanner.jpg');
}

#threshold {
  background-image: url('./threshold/thresholdBanner.jpg');
}

#manifold {
  background: url('./manifold/manifoldBanner.jpg') top center;
}

#sculpture {
  background-image: url('./sculpture/sculptureBanner.jpg');
}
