body, div, nav, img, svg, h2, h3 {
	margin: 0px;
	border: 0px;
	padding: 0px;
	display: block;
}
body {
	background: #000000;
	margin: 0px;
	padding: 0px;
	width: 100%;
	z-index: -10;
	font-family: sans-serif;
}
a {
	text-decoration: none;
	font-weight:bold;
	color: #000000;
	padding: 0px;
	margin: 0px;
}
a:hover {
	color: #333333;
}
h2 {
	font-size: 84px;
	margin: 0px;
	color: white;
	padding: 0px;
	position: absolute;
	top: -74px;
	left: 0px;
	z-index: -10;
	line-height: normal;
}
.wrapper {
	box-sizing: border-box;
	width: 75%;
	margin: 0px auto;
	padding: 40px;
	background: #fff;
	position: relative;
	top: 0px;
	line-height: 1.8;
}
.maximum {
	width: 100%;
	height: auto;
}
.video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;

}
.video-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: -10;
}
.left {
	width: 48%;
	float: left;
}
.right {
	width: 48%;
	float: right;
}
.center {
	width: 65%;
	margin: 0px auto;
}
.copy {
	padding: 1em 0em 2em 0em;
}
nav {
	padding: 5px;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	background: rgba(0,0,0,0.8);
}
#nav {
	display: block;
	color: #FFFFFF;
	padding: 0px;
	margin: 0px;
}
#nav li {
	display: inline-block;
	padding: 0px 0px;
	margin: 0px;
}
#nav li a {
	display: block;
	padding: 0px 5px;
}
#nav li a:hover {
	background: #222222;

	border-radius: 4px;
}
.logo-container {
	text-align: center;
}
.logo {
	display: inline-block;
}
.caption {
	margin: 0px;
	padding: 0px 10px 5px 10px;
	font-size: 80%;
}
.clear {
  content: "";
  display: block;
  clear: both;
}
.short {
	margin-top: 0px;
}
.undecorated {
	list-style: none;
}
dt {
	font-weight: bold;
}
.hide {
	display: inline;
}

@media (max-width: 700px) {
	.wrapper {
    width: 100%;
		padding: 20px;
	}
	.left {
		width: 100%;
		float: none;
	}
	.right {
		width: 100%;
		float: none;
	}
	.center {
		width: 100%;
		margin: 0px auto;
	}
	nav {
		padding: 0px;
	}
}
@media (max-width: 380px) {
	.wrapper {
    width: 100%;
		padding: 10px;
	}
	.hide {
		display: none;
	}
}
