h2 {
	left: -6px;
}

.video-container {
  background: url('rock-cam.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
