<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }} - niklaas</title>
        <link rel="stylesheet" href="/assets/css/style.css">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ffc400">
        <meta name="msapplication-TileColor" content="#ffc40d">
        <meta name="theme-color" content="#ffc400">
    </head>
    <body>
        <div id="container">
            {% include navigation.html %}
            <div id="content">
                <div id="main"{% if page.title == 'about' %} class="about"{% endif %}>
                    {{ content }}
                </div>
                <div id="sidebar">
                    {% include latest.html %}
                    {% include social.html %}
                    {% include tagcloud.html %}
                </diV>
            </div>
        </div>
    </body>
</html>
